/* https://bootswatch.com/slate/ */
body {
    background-color: #272b30 !important;
}

h1, h2, h3, h4 {
    color: rgb(206, 206, 206);
}

.text-muted {
    --bs-text-opacity: 1;
    color: #959faa !important;
  }

#services, #team {
    padding-top: 3rem;
}

#about {
    padding-bottom: 3rem;
}

.timeline-heading {
    color: rgb(206, 206, 206) !important;
}

.timeline-image h4 {
    color: white;
}

.galItem {
    width: 100%;
}